@media screen and (max-width: 1024px) {
  /* About Section */
  .bl {
    right: 60px;
    bottom: 2px;
  }
  .br {
    bottom: 147px;
    right: -1px;
  }
  .profiles {
    border-radius: 30px 0 0 0;
    height: 148px; /*130px*/
    width: 60px; /*60px*/
  }
  .profiles > ul {
    height: 100%;
    width: 100%;
    padding: 0 3px;
    border-radius: 30px;
  }
  .profiles > ul > li {
    height: calc(135px / 3);
  }
  .profile-link {
    height: unset;
  }
  .profile-link > img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}

@media screen and (max-width: 768px) {
  .col-6 {
    width: 100%;
  }
  p,
  .uc-cntn > p {
    font-size: 12px;
  }
  .title3 {
    font-size: 25px;
  }
  .title5 {
    font-size: 18px;
  }
  .title2 {
    font-size: 32px;
  }
  .title2 > span {
    font-size: 24px;
  }

  /* Banner Section */

  .lb-cnt,
  .rb-cnt {
    top: 50%;
    bottom: unset !important;
    transform: translateY(-50%);
    max-width: 150px;
  }
  .lb-cnt > a,
  .rb-cnt > a {
    width: 30px;
    height: 30px;
    padding: 8px;
  }
  .lb-heading + div,
  .rb-heading + div {
    font-size: 8px;
  }
  .lb-cnt > .row,
  .rb-cnt > .row {
    font-size: 10px;
  }
  .lb-cnt > .row > div.col-50 > div:first-child,
  .rb-cnt > .row > div.col-50 > div:first-child {
    font-size: 14px;
  }

  /* About Section */
  .about-section {
    padding: 45px 0;
  }
  .about-section > .container > .row {
    flex-direction: column-reverse;
  }
  .about-img {
    max-width: 324px;
  }

  /* uc-section */
  .uc-cntn > p {
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .nav-logo > a {
    width: 45px;
  }
  .navbar-brand {
    transform: scale(0.5);
  }
}
