@media screen and (max-width: 768px) {
  .col-6 {
    width: 100%;
  }
  p {
    font-size: 12px;
  }
  .title3 {
    font-size: 25px;
  }
  .title5 {
    font-size: 18px;
  }

  /* Banner Section */

  .lb-cnt,
  .rb-cnt {
    top: 50%;
    bottom: unset !important;
    transform: translateY(-50%);
    max-width: 150px;
  }
  .lb-cnt > a,
  .rb-cnt > a {
    width: 30px;
  }
  .lb-heading + div,
  .rb-heading + div {
    font-size: 8px;
  }
  .lb-cnt > .row,
  .rb-cnt > .row {
    font-size: 10px;
  }
  .lb-cnt > .row > div.col-50 > div:first-child,
  .rb-cnt > .row > div.col-50 > div:first-child {
    font-size: 14px;
  }

  /* About Section */
  .about-section {
    padding: 45px 0;
  }
  .about-section > .container > .row {
    flex-direction: column-reverse;
  }
  .about-img {
    max-width: 324px;
  }
  
}

@media screen and (max-width: 576px) {
  .nav-logo > a {
    width: 45px;
  }
  .navbar-brand {
    transform: scale(0.5);
  }
}
