@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@font-face {
  font-family: objectivity;
  src: url("../assets/font/objectivity.bold.otf");
}

@font-face {
  font-family: objectivity-light;
  src: url("../assets/font/objectivity.light.otf");
}

@font-face {
  font-family: objectivity-thin;
  src: url("../assets/font/Objectivity-Thin.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  user-select: none;
}

/* Universal Cursor */

.cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
}

/* .playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.container {
  max-width: 1681px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
span {
  display: inline-block;
}

/* Header Section */

header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 15px 0;
  z-index: 3;
}

.nav-collapse > ul,
nav {
  display: flex;
  align-items: center;
}

.navbar-brand {
  position: relative;
  margin-left: auto;
  /* height: fit-content; */
  width: 54px;
  height: 4.7px;
  background: white;
  border-radius: 1px;
}

.navbar-brand::after {
  position: absolute;
  content: "";
  width: 16.29px;
  height: 4.7px;
  background: white;
  top: -9.6px;
  right: 0;
  border-radius: 1px;
}

.navbar-brand::before {
  position: absolute;
  content: "";
  width: 30.79px;
  height: 4.7px;
  top: 9.6px;
  right: 0;
  background: white;
  border-radius: 1px;
}

/* .navbar-brand > span {
  width: 54px;
  height: 4.7px;
  background: white;
} */

.nav-collapse {
  display: none;
}

/* Banner Section */

.bnr-section {
  min-height: 100vh;
  background: url("../assets/img/BG.png") center/cover no-repeat;
  border-radius: 0 0 100px 100px;
  padding: 87px 0 0;
  text-align: center;
  position: relative;
}

.bnr-wrpr {
  position: relative;
}

h1 {
  -webkit-background-clip: text;
  background: linear-gradient(
    to left,
    #b1540a,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 25%)
  );
  color: transparent;
  background-clip: text;
  font-family: objectivity-thin, serif;
  font-size: 13.91vw;
}

h1 > span {
  font-size: 5.47vw;
}

.prsn-img {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  width: 100%;
}

.prsn-img > div {
  max-width: 1019px;
  margin: 0 auto;
}
.prsn-img > div > img {
  width: 100%;
  max-height: 790px;
  object-fit: contain;
}

/* Section Filler */
.section2 {
  min-height: 100vh;
}
