@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@font-face {
  font-family: objectivity;
  src: url("../assets/font/objectivity.bold.otf");
}

@font-face {
  font-family: objectivity-light;
  src: url("../assets/font/objectivity.light.otf");
}

@font-face {
  font-family: objectivity-thin;
  src: url("../assets/font/Objectivity-Thin.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #40409d;
  --secondary-color: #ffffff;
  --text-color: #cfcfcf;
  --p-text-color: #7b7b7b;
}

html,
body {
  user-select: none;
}

/* Universal Cursor */

.cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
}

.container {
  max-width: 1681px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-50,
.col-6 {
  width: 50%;
  padding: 0 15px;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
span {
  display: inline-block;
}

.title1,
.bnr-wrpr > h1 {
  -webkit-background-clip: text;
  background: linear-gradient(
    to left,
    #b1540a,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 25%)
  );
  color: transparent;
  background-clip: text;
  font-family: objectivity-thin, serif;
  font-size: 13.91vw;
}

.rb-num,
.lb-num,
h4,
.title4 {
  font-size: 4.08vw;
  font-weight: 100;
  font-family: objectivity-thin, serif;
  background: linear-gradient(
    to left,
    var(--primary-color),
    var(--secondary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1.2vw;
}

.title3 {
  font-size: 3.55vw;
  font-family: objectivity-light;
}

.title5 {
  font-family: objectivity-thin, serif;
  font-size: 2vw;
  margin: 22px 0;
}

p {
  font-family: objectivity-thin, serif;
  font-size: 1vw;
  margin-bottom: 3vw;
}

/* Header Section */

header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 15px 0;
  z-index: 3;
}

.nav-collapse > ul,
nav {
  display: flex;
  align-items: center;
}

.nav-logo > a {
  width: 119px;
}

.nav-logo > a > img {
  width: 100%;
  object-fit: cover;
}

.navbar-brand {
  position: relative;
  margin-left: auto;
  width: 54px;
  height: 4.7px;
  background: white;
  border-radius: 1px;
}

.navbar-brand::after {
  position: absolute;
  content: "";
  width: 16.29px;
  height: 4.7px;
  background: white;
  top: -9.6px;
  right: 0;
  border-radius: 1px;
}

.navbar-brand::before {
  position: absolute;
  content: "";
  width: 30.79px;
  height: 4.7px;
  top: 9.6px;
  right: 0;
  background: white;
  border-radius: 1px;
}

.nav-collapse {
  display: none;
}

/* Banner Section */

.bnr-section {
  min-height: 100vh;
  background: url("../assets/img/BG.png") center/cover no-repeat;
  border-radius: 0 0 100px 100px;
  padding: 87px 0 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.bnr-wrpr {
  position: relative;
}

h1 > span {
  font-size: 5.47vw;
}

.prsn-img {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 100%;
}

.prsn-img > div {
  max-width: 1019px;
  margin: 0 auto;
}
.prsn-img > div > img {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.rb-cnt {
  max-width: 18.5vw;
  position: absolute;
  left: 15px;
  bottom: 60px;
  text-align: start;
  color: white;
}
.banner-links {
  width: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid var(--text-color);
  height: 4vw;
  border-radius: 50%;
  padding: 10px;
  overflow: hidden;
}

/* .banner-links::after {
  content: "";
  background: url("../assets/img/arrow-up-right.png") no-repeat center/cover;
  height: calc(4vw - 20px);
  width: calc(4vw - 20px);
  display: block;
  transform: translateX(100%);
  transition: all 0.5s linear;
}

.banner-links:hover::after {
  transform: translate(0, 0);
} */

/* .banner-links:hover > img {
  transform: translate(50%, 50%);
} */

.lb-cnt > .banner-links {
  margin-left: auto;
}

.rb-cnt > a > img,
.lb-cnt > a > img {
  width: 100%;
  object-fit: contain;
}

/* .rb-heading {
  font-size: 2.19vw;
} */

.lb-cnt {
  max-width: 18.5vw;
  position: absolute;
  right: 15px;
  bottom: 60px;
  text-align: end;
  color: white;
}

.lb-cnt > .lb-num {
  background: linear-gradient(to left, #f59402, rgba(255, 255, 255, 0.5));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lb-heading,
.rb-heading {
  font-family: objectivity-thin, serif;
  font-size: 2vw;
  margin: 22px 0;
}

.lb-heading + div,
.rb-heading + div {
  font-family: objectivity-thin, serif;
  font-size: 1vw;
  margin-bottom: 3vw;
}

.lb-cnt > .row,
.rb-cnt > .row {
  font-size: 1.04vw;
  font-family: objectivity-thin, serif;
  color: rgba(255, 255, 255, 0.5);
}
.lb-cnt > .row > div.col-50 > div:first-child,
.rb-cnt > .row > div.col-50 > div:first-child {
  font-size: 2vw;
  color: var(--secondary-color);
}

/* 
===========
About Section
===========
*/

.about-section {
  padding: 150px 0;
  text-align: end;
}

.about-heading {
  margin-top: 93px;
}

.about-heading > span {
  position: relative;
  color: transparent;
  background: linear-gradient(to right, #7b7b7b, #e1e1e1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 100;
}

.about-heading > span::after {
  position: absolute;
  content: "";
  top: -50px;
  right: 0;
  height: 50px;
  width: 80%;
  background: url("../assets/img/01.png") center/contain no-repeat;
}

.about-subheading {
  max-width: 536px;
  margin-left: auto;
  color: var(--text-color);
}

.about-subheading + p {
  text-transform: capitalize;
  color: var(--p-text-color);
}

.about-img {
  max-width: 39vw;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.about-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  height: 80px;
  width: 80px;
  background: white;
  border-radius: 0 0 20px 0;
  z-index: 22;
}

.about-img > img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.tl,
.bl,
.br,
.tr {
  position: absolute;
  height: 20px;
  width: 20px;
  background: transparent;
}

.tl,
.tr {
  border-radius: 10px;
  box-shadow: -9px -9px 0 white;
}

.br,
.bl {
  border-radius: 10px;
  box-shadow: -2px -2px 0 white;
}

.tl {
  top: 0;
  left: 80px;
}
.tr {
  top: 80px;
  left: 0;
}
.bl {
  bottom: 4px;
  right: 4.69vw;
}
.br {
  bottom: calc(4.69vw * 3);
  right: 0;
}

.bl,
.br {
  border-radius: 10px;
  box-shadow: 5px 8px 0 white;
}
.profiles {
  position: absolute;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: 2.5vw 0 0 0;
  padding: 5px;
  height: calc(4.69vw * 3); /*130px*/
  width: calc(4.3vw + 5px + 2px); /*60px*/
}
.profiles > ul {
  padding: 2px;
  border: 1px solid #7b7b7b;
  border-radius: 3vw;
  height: fit-content;
  margin: 0 auto;
  width: fit-content;
}
.profiles > ul > li {
  height: calc(4.69vw - 5px); /*40px*/
}

.profile-link {
  height: inherit;
}

.profile-link > img {
  height: 100%;
  width: calc(4.3vw - 5px);
  border-radius: 50%;
}

.img-icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  height: 80px;
  width: 80px;
  padding: 5px;
}

.img-icon > img {
  width: 100%;
  object-fit: contain;
}

/* Section Filler */
.section2 {
  min-height: 100vh;
}

/* Ultimate Collection Sections */

.title2 {
  font-size: 70px;
  font-family: objectivity;
  background: linear-gradient(to left, #9f9fff, #5959db, #212177);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

.uc-cntn .title2 {
  max-width: 408px;
}

.title2 > span {
  font-size: 67px;
  font-style: italic;
  font-weight: 100;
  font-family: "playfair", sans-serif;
  background: linear-gradient(to right, #7b7b7b, #e1e1e1);
  background-clip: text;
  color: text;
  -webkit-background-clip: text;
}

.uc-cntn > p {
  max-width: 408px;
  margin-top: 43px;
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  .title2 {
    font-size: 4.219vw;
  }
  .title2 > span {
    font-size: 3.49vw;
  }
}
